# Node modules
**/node_modules/

# Angular build files
**/dist/
**/.angular/

# Backend build
Backend/dist/

# Environment files
**/.env

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
